<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ messageTitle }}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="decline()"></button>
</div>
<div class="modal-body">

    <form #f="ngForm" (ngSubmit)="accept()">
        <label for="">
            E-mail:
        </label>
        <input class="form-control" type="email" [(ngModel)]="user.email" name="email">
        <label for="">Password:</label>
        <input class="form-control" type="password" [(ngModel)]="user.password" name="password">
        <a routerLink="register"><small >¿Aun no estás registrado?</small></a>
        <button type="submit" class="btn btn-primary">
            Log in
        </button>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="decline()">Cancel</button>
</div>