<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ messageTitle }}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="decline()"></button>
</div>
<div class="modal-body">
    <p><strong>{{ messageDescription }}</strong></p>
    <span class="text-danger">This operation cannot be undone.</span>
</div>
<form #f="ngForm" (ngSubmit)="logIn()">
    <input type="email" [(ngModel)]="email" name="email">
    <input type="password" [(ngModel)]="password" name="password">
    <button type="submit" class="btn btn-primary">
        Log in
    </button>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="decline()">Cancel</button>
</div>