/* You can add global styles to this file, and also import other style files */
.list-tiendas{
    margin: 10%;
}

.navbar-general{
   padding: 15px 70px;
   display: flex;
   justify-content: space-between;
}

.navbar-general ul{
    width: 70%;

}